.card {
  width: 100%;
  margin-bottom: 20px;
  .card-body {
    .card-title {
      width: 100%;
      overflow:hidden; 
      white-space:nowrap; 
      text-overflow: ellipsis;
    }
  }
  .download-badge {
    width: 66px;
  }
  .file-badge {
    width: 46px;
  }
}